#blogs {
	min-height: 90vh;
	width: 100vw;
	display: flex;
	padding: 1rem;
	flex-shrink: 0;
	height: 40vh;
	flex-wrap: wrap;
}

.blog {
	width: 20ch;
	min-height: 1rem;
	max-height: 5rem;
	border-radius: 0.5rem;
	margin: 1rem;

}

.blog:hover {
	box-shadow: 2px blue;
}

.blogImage {
	width: 100%;
	max-height: 100%;
}

